@{
    ViewData["Title"] = "Home Page";
}

<div class="mt-5 text-center btn-group" role="group" style="width:100%;">
    <a class="btn btn-lg btn-primary float-start mx-2" style="display:inline-flex;align-items:center;justify-content:space-around;font-size:50px;width:auto;background-color:#AFB4FF;height:300px;" asp-controller="Males" asp-action="Index">Males</a>
    <a class="btn btn-lg btn-primary float-start" style="display:inline-flex;align-items:center;justify-content:space-around;font-size:50px;width:auto;background-color:#C689C6;height:300px;" asp-controller="Females" asp-action="Index">Females</a>
    <a class="btn btn-lg btn-primary float-end mx-2" style="display:inline-flex;align-items:center;justify-content:space-around;font-size:50px;width:auto;background-color:#CBA0AE;height:300px;" asp-controller="Others" asp-action="Index">Others</a>
</div>